<h1>Results:</h1>
<p>Total hits: <%= @total_hits %></p>

<section class="food_list">
  <ul>
    <% @foods.each do |food| %>
      <li> 
        <p><%= food.gtinUpc %>, <%= food.details %>, <%= food.brandOwner %>, <%= food.ingredients %></p>
      </li>
    <% end %>
  </ul>
</section>