<h1>Results:</h1>
<p>Total hits: <%= @total_hits %></p>

<%# <% @foods.each do |food| %> %>
  <%# <%= food.details %> %>
  <%# <%= food.brandOwner= %> %>
  <%# <%= food.gtinUpc %> %>
  <%# <%= food.ingredients %> %>
<%# <% end %> %>