<h1>Results:</h1>
<p>Total hits: </p><%= @total_hits %>

<%# <% @foods.each do |food| %> %>
  <%# <%= food.details %> %>
  <%# <%= food.brandOwner= %> %>
  <%# <%= food.gtinUpc %> %>
  <%# <%= food.ingredients %> %>
<%# <% end %> %>